<div style="width: 100%">
  <div class="row category-blog">
    <% @categories.each do |category| %>
    <div class="col" style="gap: 1%">
      <%= link_to categories_path(category) do%>
        <%cl_image_tag category.photo.key, class: "cat-img" %>
      <% end %>
      <p class="text-center"><%= category.name%></p>
    </div>
    <% end %>
  </div>
</div>
