<div class="search-bar">
  <%= form_with url: bikes_path, method: :get, class: "search-form" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "search-input",
          placeholder: "Find A Bike" %>
    <%= submit_tag "Search", name: "", class: "search-button" %>
  <% end %>
</div>
