
// .category-blog {
//   position: relative;
//   display: flex; /* Arrange images in a row */
//   flex-wrap: wrap; /* Allow wrapping to a new row if needed */
//   justify-content: center; /* Align images horizontally */
//   gap: 1px;
//   text-align: center;
//   margin-left: 10px;
// }
// .cat-img {
//   margin-top: 20px;
//   width: 60%; /* Ensure the image fills the width of its container */
//   height: auto; /* Maintain aspect ratio */
//   object-fit: cover; /* Options: cover, contain, fill, scale-down, none */
//   display: block;
//   gap: 2px; /* Removes inline space under images */
// }
.category-blog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
}

  /* Image Styling */
  .cat-img {
    // width: 100%;
    // height: auto;
    // overflow: hidden;
    img {
      width: 100px;
      height: 100px;
      gap: 1px;
    }
  }
  @media (max-width: 768px) {
  .category-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
