// Specific CSS for your home-page


.bike-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.bike-photos img {
  margin: 5px;
  border: 1px solid #ccc;
  max-width: 100%;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.category-blog {
  position: relative;
  display: flex; /* Arrange images in a row */
  flex-wrap: wrap; /* Allow wrapping to a new row if needed */
  justify-content: center; /* Align images horizontally */
  gap: 1px;
  text-align: center;
  margin-left: 10px;
}
.cat-img {
  margin-top: 20px;
  width: 60%; /* Ensure the image fills the width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Options: cover, contain, fill, scale-down, none */
  display: block;
  gap: 2px; /* Removes inline space under images */
}
