/* General Styles for Bike Show Page */

.bike-main-image {
  margin-left: 2%;
  margin-top: 8%;
  margin-bottom: 10px;
  .main-image {
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Gallery Thumbnails */
.bike-gallery {
  margin-left: 1%;
  .thumbnails {
    margin-left: 1%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
  }

  .thumbnail {
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      border-color: $primary-color;
    }
  }
}

.bike-show-title {
  text-align: left;
  font-size: 2rem;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}


/* Bike Details */
.bike-details {
  margin: 20px;
  font-size: 1.2rem;
  width: 70%;
  border-collapse: collapse;

  p {
    margin-bottom: 10px;
  }

  strong {
    color: $primary-color;
  }

  table {
    width: 100%;
    border: 1px solid #ddd;
  }

  td {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }

  td:last-child {
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

}

/* Back Link */
.back-link {
  display: inline-block;
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;

  &:hover {
    background-color: $hover-color;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .bike-main-image .main-image {
    max-height: 400px;
  }

  .thumbnails {
    flex-direction: column;
    align-items: center;
  }

  .bike-details {
    font-size: 1rem;
  }
}
