<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      /* Add any inline styles for email here */
    </style>
  </head>
  <body>
    <h1>New Contact Form Submission</h1>

    <p><strong>Name:</strong> <%= @name %></p>
    <p><strong>Message:</strong></p>
    <p><%= @message %></p>
  </body>
</html>
