<h1>A Bike Was Saved</h1>
<p><strong>User:</strong> <%= @user.email %> </p>
<p><strong>Bike:</strong> <%= @bike.model %></p>
<p><strong>Date Saved:</strong> <%= @saved_bike.created_at.strftime('%d %b %Y, %H:%M %p') %></p>
