.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('utvpc.jpg') center center / cover no-repeat;
  color: white;
  height: auto;
  padding: 7rem 5rem;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
}

.hero p {
  font-size: 1.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}


.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #FF4500;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
}


// suggested bikes

.suggested-bikes-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3.5rem;
  color: $primary-color;
  margin-bottom: 20px;
  font-weight: bold;
}
