/* SCSS Variables */
$primary-color: #ff6600;
$hover-color: #cc5200;
$text-color: #333;
$background-color: #fff;

/* Navbar Styling */
.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 1000;

  /* Logo */
  .custom-logo {
    .brand-link {
      height: 40px;
    }
  }

  /* Navigation Links */
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: max-height 0.3s ease;

    .nav-item {
      margin-right: 15px;

      a {
        color: $text-color;
        text-decoration: none;
        padding: 8px 12px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $primary-color;
          color: $background-color;
        }
      }
    }
  }
}

/* Hamburger Icon */
#hamburger-icon {
  display: none;
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;

  i {
    color: $background-color;
    font-size: 20px;
  }

  &:hover {
    background-color: $hover-color;
    transform: scale(1.1);
  }

  &.active {
    transform: scale(1.2);
  }
}

.user-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  .user-item {
    margin-left: 20px;

    .profile-link,
    .logout-link,
    .login-link,
    .signup-link {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      color: $background-color;
      background-color: $primary-color;
      padding: 5px 10px;
      border-radius: 4px;

      &:hover {
        color: $background-color;
        background-color: $primary-color;
      }
    }
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  #hamburger-icon {
    display: flex;
  }

  .nav-links,
  .user-links {
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
  }

  .nav-links.show,
  .user-links.show {
    max-height: 500px; /* Adjust as necessary */
  }
}
